@using DesafioCientec.App.Extensions
@model IEnumerable<FundacaoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Fundações</h1>

<form asp-controller="Fundacoes" asp-action="Index" class="form-inline">
    <div class="form-group mb-2">
        <input class="form-control" type="text" name="busca" placeholder="CNPJ" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </div>
</form>
<table class="table table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstituicaoApoiada)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @this.FormataCNPJ(item.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @this.FormataTelefone(item.Telefone.Length, item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstituicaoApoiada)
            </td>
            <td class="text-right">
                <a asp-action="Edit" class="btn btn-sm btn-info" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
            </td>
        </tr>}
    </tbody>
</table>
<p class="text-right">
    <a class="btn btn-info" asp-action="Create">Nova Fundação</a>
</p>
